body{
  background-color: #FFFFFF;
  margin: 0;
}
img{
  float: right;
}
#cabecalho{
  background-color: #9999FF;
  display: inline;
  position:relative;
  display: inline-block;
  color: green;
  font-size: 30px;
  width: 100%;
}

.table tbody tr:hover{
  cursor: pointer;
  background-color: #e0f7fa;
  color: #17a2b8;
}

#resultado{
  background-color: #064ae8;
  color: red;
  font-size: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
